<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>JOB LINK</title>
</head>
<body>


  {% extends 'base.html' %}
{% load static %}
{% load staticfiles %}
{% block content %}
<link href='https://fonts.googleapis.com/css?family=Milonga' rel='stylesheet'>

<div>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">JOBLINK</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
 
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{user.username}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{%url 'profile'%}">Check profile</a>
          <a class="dropdown-item" href="{% url 'newJob'%} ">Post A Job</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout">Logout</a>
        </div>
      </li>
      <li>
        <a href="{% url 'post-create'%}" style="padding-top: 10px;">create Post</a>
      </li> <br><br><br><br><br>
      <li>
        <a href="{% url 'posts'%}" style="padding-top: 10px;">Posts</a>
      </li>

    </ul><form class="form-inline my-2 my-lg-0" role="search" action="">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="post">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>

  </div>
</nav>
</div>
  <button><a href="/accounts/login">LOGIN</a></button>
  <a href="/accounts/register"> Sign up here</a>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        {% for job in jobs %}
        <h1>{{job.title}}</h1>

        {% if job.image %}
        <img src="{{job.image.url}}" alt="job image">
        {% endif %}
        <h2>{{job.company}}</h2>
        <h3>{{job.description}}</h3>
        <h4><a href="{% url 'job-detail' job.id%}">Visit job page</a></h4>
        <a href="{{job.link}}">Read More</a>
{% endfor %}
      </div>




    </div>



  </div>
  <div class="panel panel-default">

    <div class="panel-heading">
      <h3 class="text-center">Looking For A Job?</h3>
      <a href="{% url 'jobs'%}">Go here to see jobs available</a>
    </div>
    <div class="panel-body">
      <p><a href="{% url 'newJob'%}">Post a job </a></p>
</div>



  {% endblock %}

</body>

</html>